{% block user_block %}
    <li>
        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="{{ path('sonata_user_admin_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </li>
{% endblock %}
